<a
    href="{{ path('sylius_shop_product_show', {'slug': data.productVariant.product.slug, '_locale': app.request.locale}) }}"
    {{ sylius_test_html_attribute('wishlist-product-name', data.productVariant.product.name) }}
>
    {{ data.productVariant.product.name }}
</a>
